.katana-header.clearfix

    ul.nav
        li
            a(href='http://solidzoro.com/') /
        li
            a(href='http://solidzoro.com/about.html') about
        li
            a(href='http://solidzoro.com/project.html') project
        li
            a(target='_blank', href='http://solidzoro.com/blog') blog