.katana-header.clearfix
    h1 SolidZORO

    ul.nav
        li
            a(href='http://solidzoro.com/about.html') 關於我
        li
            a(href='http://solidzoro.com/project.html') 專案企劃
        li
            a(target='_blank', href='http://solidzoro.com/blog') *部落格