// @import url();

@import "../lib/bootstrap/less/bootstrap.less";


body {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


.katana-wrap {
    width: 96%;
    margin: 0 auto;
    padding: 0 2%;
}


.katana-header {
    h1 {
        font-size: 2em;
        margin: 0.5em 0;
    }

    ul.nav {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: block;
            float: left;
            margin-right: 15px;

            a {
                display: block;
            }
        }
    }
}




.katana-container {

}




.katana-footer {
    margin-top: 30px;

    .copyright {
        color: #333;
        font-size: x-small;
    }

}