extends ./layout/default.jade

block title
    title SolidZORO

block container
    p
        pre

            |                ___     __
            |    _________  / (_)___/ /
            |   / ___/ __ \/ / / __  /
            |  (__  ) /_/ / / / /_/ /
            | /____/\____/_/_/\__,_/
            |  ____  ____  _________
            | /_  / / __ \/ ___/ __ \
            |  / /_/ /_/ / /  / /_/ /
            | /___/\____/_/   \____/
