extends ./layout/default.jade

block title
    title SolidZORO

block container
    .logo
        pre                ___     __
        pre    _________  / (_)___/ /
        pre   / ___/ __ \/ / / __  /
        pre  (__  ) /_/ / / / /_/ /
        pre /____/\____/_/_/\__,_/
        pre  ____  ____  _________
        pre /_  / / __ \/ ___/ __ \
        pre  / /_/ /_/ / /  / /_/ /
        pre /___/\____/_/   \____/
