extends ./layout/default.jade

block title
    title SolidZORO

block container
    code.logo
        pre
            |P D Y U
            |O M
            span &nbsp;Z&nbsp;
            |0xE
            |X   G K
            |R S O I