extends ./layout/default.jade

block title
    title project - SolidZORO

block container
    ul
        li
            a(target='_blank', href='https://github.com/SolidZORO/zpix-pixel-font')
                strong Zpix
                span a chinese pixel font
        li
            a(target='_blank', href='https://github.com/SolidZORO/vodka')
                strong vodka
                span Markdown to HTML
        li
            a(target='_blank', href='https://github.com/SolidZORO/hadouken')
                strong hadouken
                span DayOne to HTML
        li
            a(target='_blank', href='http://solidzoro.com/mgsx')
                strong MGSX
                span Metal Gear Solid resource (text, audio, html, etc)
